@font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts/VT323-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CursiveCustomFont';
    src: url('../assets/fonts/Pacifico-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NewsLetterCustomFont';
    src: url('../assets/fonts/Prata-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CustomFont', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f6d2a1;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
    margin-bottom : 15px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align:center;
}

.left_align{
    text-align:left;
}

h1 {
    color: #ec9548
}

.h2custom {
    color: #ec9548
}

.custom_table {
    margin: 0 auto; /* Center the table horizontally */
    width: 100%; /* Full width to span across the container */
    border-collapse: collapse;
    table-layout: fixed; /* Ensures columns are evenly spaced */
}

    .custom_table td {
        padding: 10px; /* Adds padding to each cell */
        vertical-align: middle; /* Aligns text vertically in the middle */
    }

.custom_table_h1 {
    font-size: 42px;
    font-weight: bold;
    color: #ec9548;
    text-align: center;
    white-space: nowrap; /* Prevents text from wrapping */
}

.custom_table_h2 {
    font-size: 36px;
    font-weight: bold;
    color: #ec9548;
    text-align: center;
}

.customOrangeColor {
    color: #c87c38;
    text-decoration: none; /* Removes the underline */
    text-align: left; /* Aligns to the left */
    padding-left: 0; /* Ensures it's flush to the left edge */
}

    .customOrangeColor a:hover {
        text-decoration: underline; /* Adds underline on hover */
        color: #ff6a00; /* Changes color on hover */
    }

.phoneNumber {
    color: #c87c38;
    font-size: 20px;
    text-align: right; /* Aligns to the right */
    padding-right: 5px; /* Ensures it's flush to the right edge */
}


p {
    font-size: 18px;
    margin: 15px 0;
    color: #555;
}

img {
    width: 200px;
    height: auto;
    margin: 20px 0;
    border: 5px solid #f6d2a1;
}

.square_img {
    width: 200px;
    height: auto;
    margin: 20px 0;
    border: 5px solid #f6d2a1;
}

.circular_img {
    border-radius: 50%;
}


.highlight {
    background-color: yellow;
}

.bold {
    font-weight: bold;
}

.red-text {
    color: red;
}


.button {
    background-color: #ec9548;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

    .button:hover {
        background-color: #ff6a00;
    }

.subscribe_button {
    background-color: #92ef77;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

    .subscribe_button:hover {
        background-color: #50c938;
    }